html {
  font-family: "Courier New", Courier, monospace;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: rgb(2, 1, 3);
  /*background-color: rgb(15, 17, 18);*/
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*@media screen and (max-width: 800px) {
  .programming,
  .cybersecurity,
  .robotics,
  .lead p,
  .public p,
  .mentor p {
    width: 100%; // The width is 100%, when the viewport is 800px or smaller 
  }
}*/
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
  body {
    width: 100%;
  }
  #theLinks {
    display: none;
  }
  #menubar {
    display: inline-flex;
    visibility: visible;
    float: right;
    /*margin-left: 320px;
    margin-top: -95px;*/
  }
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -50px;
  }
  .intro p {
    width: 100%;
    word-wrap: break-word;
  }
  .description {
    margin-top: -80px;
  }
  .mylogo {
    visibility: none;
  }
}
.theDesc {
  width: 660px;
}
/*#diamonds {
  max-width: 460px;
  margin-bottom: -10px;
  /*max-height: 285px;
  padding: 0;
  margin: 0;
  margin-bottom: -8px;
  padding-left: 15px;
  padding-right: 25px;*
}*/
.excerpt {
  font-family: "Courier New", Courier, monospace;
}
.atitle {
  color: white;
  font-family: "SFMono-Regular", Consolas, Roboto Mono, Droid Sans Mono,
    Liberation Mono, Menlo, Courier, monospace;
  font-size: 40px;
  font-style: italic;
}
.backarrow {
  font-family: "SFMono-Regular", Consolas, Roboto Mono, Droid Sans Mono,
    Liberation Mono, Menlo, Courier, monospace;
  font-weight: lighter;
  font-size: 17px;
  text-decoration: none;
  color: white;
}
#rects {
  max-width: 460px;
  max-height: 260px;
  margin-left: 50px;
  margin-top: 20px;
}
#stripes {
  max-width: 440px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
#chrisflower {
  max-width: 420px;
  max-height: 410px;
  margin-left: 25px;
  margin-top: 3px;
  margin-bottom: -5px;
}
#sparkles {
  width: 420px;
  height: 400px;
  margin-top: 15px;
}
.BBB {
  background-color: white;
}
.games {
  float: left;
}
.thestory {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  /*background: rgba(180, 180, 240, 0.4);*/
  padding: 10px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.storyText {
  font-family: "PT Sans", sans-serif;
  line-height: 25px;
  font-size: 20px;
  letter-spacing: 0.4px;
  margin-top: -20px;
  font-weight: 500;
  /*color: #ccceda;*/
  color: white;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 13, 13);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.fff p {
  width: 460px;
  margin-bottom: 0px;
  float: left;
  font-family: "Courier New", monospace;
  padding: 12px;
  transition: 0.6s ease;
  background: rgba(174, 227, 231, 0.5);
  color: white;
}
.hhh p {
  width: 460px;
  margin-bottom: 0px;
  float: left;
  font-family: "Courier New", monospace;
  padding: 12px;
  transition: 0.6s ease;
  background: rgba(245, 182, 174, 0.5);
  color: white;
}
.mmm p {
  width: 460px;
  margin-bottom: 0px;
  float: left;
  font-family: "Courier New", monospace;
  padding: 12px;
  transition: 0.6s ease;
  background-color: rgba(180, 180, 240, 0.5);
  color: white;
}
/*.programming:active {
  background: rgba(180, 180, 240, 0.5);
  color: white;
  width: 50%;
}*/
.mylogo {
  align-items: left;
  float: right;
  margin-right: 30px;
}
.arts,
.people,
.technology,
.lead,
.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gg {
  color: white;
  font-family: Courier New;
  font-weight: lighter;
  background-image: url(https://i.imgur.com/isD0Iqp.png?1);
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  background-position: right;
}
a.arrows1,
a.arrows2,
a.arrows3,
a.arrows4 {
  margin-top: 25px;
  text-align: right;
  font-family: "SFMono-Regular", Consolas, Roboto Mono, Droid Sans Mono,
    Liberation Mono, Menlo, Courier, monospace;
  font-weight: lighter;
  font-size: 17px;
  float: right;
  text-decoration: none;
  color: white;
}
a.arrows4 {
  width: 60px;
  text-align: left;
  float: none;
}
a.arrows1:hover {
  color: #b5b4ed;
}
a.arrows2:hover {
  color: #ecbab2;
}
a.arrows3:hover {
  color: #aee3e7;
}
#menubar {
  fill: white;
  opacity: 90%;
}
#menubar:hover {
  fill: #b3fdff;
  transform: scale(1);
}
.overlay {
  /*background-image: url(https://i.imgur.com/isD0Iqp.png?1);*/
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.arth p {
  font-family: "SFMono-Regular", Consolas, Roboto Mono, Droid Sans Mono,
    Liberation Mono, Menlo, Courier, monospace;
  font-weight: lighter;
  text-align: right;
  margin-bottom: 20px;
  color: white;
}
.peopleh p {
  font-family: "SFMono-Regular", Consolas, Roboto Mono, Droid Sans Mono,
    Liberation Mono, Menlo, Courier, monospace;
  font-weight: lighter;
  text-align: left;
  margin-bottom: 20px;
  color: white;
}
.peopleh {
  margin-top: 20px;
}
.techh {
  display: inline-block;
}
.techh p {
  font-family: "SFMono-Regular", Consolas, Roboto Mono, Droid Sans Mono,
    Liberation Mono, Menlo, Courier, monospace;
  font-weight: lighter;
  text-align: left;
  float: left;
  margin-bottom: 20px;
  color: white;
}
.technology {
  margin-top: -10px;
}
.cybersecurity img {
  width: 440px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  /*background-color: rgba(47, 5, 9, 0.9);*/
}
.thetable {
  color: white;
}
.tablecontent {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
  color: white;
  text-decoration: none;
}
.tablecontent2 {
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
  color: white;
  text-decoration: none;
}
.pageStoryTitle {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
}
.pageStoryTitle2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  margin-top: -25px;
  margin-bottom: 30px;
  padding-left: 5px;
}
.storyheader {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 3px;
  font-weight: 500;
}
.storyheader2 {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 7px;
  font-weight: 500;
}
.oppa:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.oppa {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;
  padding-bottom: 0px;
  transition: 0.6s ease;
}
.oppaa {
  font-family: "Titillium Web", sans-serif;
  margin-top: 0px;
  padding: 10px;
  padding-top: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  transition: 0.2s ease-in;
  width: 450px;
}
.oppaa:hover {
  /*background-color: rgba(124, 160, 199, 0.9);
  box-shadow: rgb(152, 198, 246, 0.3) -5px 5px;*/
  background-color: rgba(142, 142, 189, 0.9);
  box-shadow: rgb(142, 142, 189, 0.3) -5px 5px;
}
.storyTitle {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 3px;
}
.storyTime {
  font-family: "SFMono-Regular", Consolas, Roboto Mono, Droid Sans Mono,
    Liberation Mono, Menlo, Courier, monospace;
  font-size: 16px;
  margin-bottom: 3px;
}
#moons {
  width: 440px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  /*background-color: rgba(47, 5, 9, 0.9);*/
}
#ink {
  float: left;
  width: 400px;
  margin-top: 42px;
  margin-left: 22px;
  margin-right: 38px;
}
#banners {
  margin-top: 0px;
  margin-bottom: -1px;
  width: 460px;
  margin-left: 6px;
  margin-right: -6px;
}
/*.moo {
  background: url(https://i.imgur.com/VMUTYsT.png?3);
  transition: 0.3s ease;
  width: 460px;
  height: 237px;
  padding-bottom: 13px;
  padding-top: 2px;
  padding-left: 7px;
  margin-top: 19px;
  margin-bottom: 0px;
  float: right;
}
.moo:hover {
  background: url(https://i.imgur.com/Hs4DwHi.png?2);
}*/
#gavel {
  transition: 0.6s ease;
  width: 460px;
  height: 190px;
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
}
#gavel:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
span.description {
  font-family: "Courier New", monospace;
  color: rgb(137, 200, 251);
}
span.mylogo {
  width: 160px;
  height: 233px;
  transform: rotate(10deg);
  margin-left: 3em;
  align-items: left;
  float: right;
  margin-right: 30px;
}
#bubbles {
  height: 220px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: -10px;
}
div.conway,
div.ball,
div.igl-tech,
div.roses,
div.covid {
  font-family: "Titillium Web", sans-serif;
  /*border-left: #121212 5px solid;*/
  /*border-bottom: #121212 5px solid;*/
  float: left;
  margin-left: 10px;
  padding-left: 12px;
  height: 74px;
  width: 440px;
  color: white;
  transition: 0.2s ease-in;
  /*border-left: transparent 4px solid;*/
}
div.conway p,
div.ball p,
div.igl-tech p,
div.roses p,
div.covid p {
  padding-top: 22px;
  font-size: 22.8px;
}
div.conway:hover,
div.ball:hover,
div.igl-tech:hover,
div.roses:hover,
div.covid:hover {
  box-shadow: rgba(212, 156, 148, 0.3) 5px 5px;
  /*border: 1px solid rgb(212, 156, 148);*/
  background: rgba(212, 156, 148, 0.9);
  /*border-left: #d49c94 5px solid;
  /*border-left: #936E69 5px solid;*/
  /*border-bottom: rgb(2,1,3) 5px solid;*/
  /*border-bottom: #53403D 5px solid;*/
}
div.honest,
div.ukiyo,
div.incoherent,
div.gnossienne,
div.alexithymia {
  font-family: "Titillium Web", sans-serif;
  /*border-left: #121212 5px solid;*/
  /*border-bottom: #121212 5px solid;*/
  float: left;
  margin-left: 10px;
  padding-left: 12px;
  height: 73px;
  width: 440px;
  color: white;
  transition: 0.2s ease-in;
  /*border-left: transparent 4px solid;*/
}
div.honest p,
div.ukiyo p,
div.incoherent p,
div.gnossienne p,
div.alexithymia p {
  padding-top: 22px;
  font-size: 23px;
}
div.honest:hover,
div.ukiyo:hover,
div.incoherent:hover,
div.gnossienne:hover,
div.alexithymia:hover {
  box-shadow: rgba(136, 192, 196, 0.3) -5px 5px;
  /*border: 1px solid rgb(212, 156, 148);*/
  background: rgba(136, 192, 196, 0.9);
  /*border-left: #d49c94 5px solid;
  /*border-left: #936E69 5px solid;*/
  /*border-bottom: rgb(2,1,3) 5px solid;*/
  /*border-bottom: #53403D 5px solid;*/
}
.programs {
  display: inline-block;
  width: 460px;
}
.programs {
  display: inline-block;
  width: 460px;
  margin-top: 10px;
}
#robotics {
  margin-bottom: 20px;
}
.another {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  width: 460px;
  margin-bottom: 0px;
  font-family: "Courier New", monospace;
  padding: 12px;
  transition: 0.6s ease;
  color: #f1dcb4;
}
/*.another:hover {
  color: white;
  background-color: rgba(241, 220, 180, 0.5);
}*/
.programming p,
.cybersecurity p,
.robotics p {
  width: 460px;
  margin-bottom: 0px;
  float: left;
  font-family: "Courier New", monospace;
  padding: 12px;
  transition: 0.6s ease;
  color: rgb(180, 180, 240);
  /*background-image: linear-gradient(rgba(181,180,237,0.2), rgba(0,0,0,0))*/
}
.programming p:hover,
.cybersecurity p:hover,
.robotics p:hover {
  /*background-image: linear-gradient(to right, rgba(245, 182, 174,0.5), rgba(2,1,3,0));*/
  background: rgba(180, 180, 240, 0.5);
  color: white;
}
.music p,
.poetry p,
.writing p {
  width: 460px;
  margin-bottom: 0px;
  clear: both;
  font-family: "Courier New", monospace;
  padding: 12px;
  transition: 0.6s ease;
  color: #ecbab2;
}
.music p:hover,
.poetry p:hover,
.writing p:hover {
  background: rgba(245, 182, 174, 0.5);
  color: #ffffff;
}
.lead p,
.public p,
.mentor p {
  margin-bottom: 0px;
  clear: both;
  width: 460px;
  font-family: "Courier New", monospace;
  padding: 12px;
  transition: 0.6s ease;
  color: #aee3e7;
}
.lead p:hover,
.public p:hover,
.mentor p:hover {
  background: rgba(174, 227, 231, 0.5);
  color: white;
}
article,
aside,
details,
figcaption,
figure,
footer,
header {
  font-family: "Courier New", Courier, monospace;
}
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  /*color: #b5b4ed;*/
}
a:active,
a:hover {
  outline-width: 0;
  color: white;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
  /*color: white;
  font-family: "Courier New";
  font-weight: 'lighter';*/
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
svg {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 6px;
  vertical-align: bottom;
  fill: #9de5e7;
  transition: transform 0.2s;
  opacity: 0.8;
}
svg:hover {
  fill: #adfcff;
  transform: scale(1.2);
  opacity: 1;
}
div.activities {
  clear: both;
  color: rgb(180, 180, 240);
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
